html {
	font-family: "Helvetica";
	text-align: center;
}
#slider {
	background: #ddd;
	height: 5px;
}
#slider::-webkit-slider-thumb {
	height: 5px;
	border-radius: 5px;
}
#slider::-moz-range-thumb {
	height: 15px;
	border-radius: 15px;
	background-color: white;
}
#num {
	border: 1px solid #ddd;
	padding: 0.5em;
	max-width: 5em;
}
#icon {
	max-height: 5em;
}